{#
/**
 * @file
 * Default theme implementation to display logintemplate.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @ingroup themeable
 */
#}
<div class="wrapper-class">
  {{ form }}
</div>
